<div class=" taller container">
    <div class="add-customer">
        <div class="green text-center">
            <h3 class="md-title white">Add a New Vehicle</h3>
        </div>
        <form name="new-repair" class="inner-form form-group">
            <div >
                <div class="form-group">
                    <label>Customer</label>
                    <select  ng-model="customer" class="form-control" ng-options="(customer.first_name +' '+customer.last_name) for customer in customers.object | orderBy : '-id'" ng-change="saveCustomerId(customer.id)" >
                    </select>
                </div>
            </div>
            <div >

            </div>

            <div>
                <div class="form-group col-xs-4">
                    <label>Vehicle Year</label>
                    <select  ng-model="vehicle.year" class="form-control" ng-options="year for year in years" ng-change="getMakesList(vehicle.year)"  >
                    </select>
                </div>

                <div class="form-group col-xs-4">
                    <label>Vehicle Make</label>
                    <select  ng-model="vehicle.make" class="form-control" ng-options="make.name for make in makes.object" ng-change="getModelsList(vehicle.make)"  >
                    </select>
                </div>

                <div class="form-group col-xs-4">
                    <label>Vehicle model</label>
                    <select  ng-model="vehicle.model" class="form-control"  ng-options="model.name for model in models " ng-change="getEngine(vehicle.model)" >
                    </select>
                </div>

            </div>

                <div>
                    <div class="form-group col-xs-6 ">
                        <label>Engine</label>
                        <select  ng-model="vehicle.engine" class="form-control"  ng-options="engine.engine.size for engine in engines.object" >
                        </select>
                    </div>


                <div class="form-group col-xs-6 ">
                    <label>Transmission</label>
                    <select  ng-model="vehicle.transmission" class="form-control">
                        <option>Automatic</option>
                        <option>Manual</option>
                    </select>
                </div>
                </div>

            <div>

                    <div class="form-group">
                        <label>Vehicle Identification Number</label>
                        <input type="text" ng-model="vehicle.vin" class="form-control">
                    </div>
            </div>
            <section class="text-center">
                <button ng-click="postVehicle(vehicle)" class="btn btn-success">SUBMIT</button>
            </section>
        </form>
</div>
</div>
