<div class="taller container">
    <div class="add-customer">
        <div class="green text-center">
            <h3 class="md-title white">Add a New Vehicle</h3>
        </div>
        <form name="new-repair" class="inner-form form-group">
            <div >
                <div class="form-group">
                    <label>Customer</label>
                    <ng-select  ng-model="vehicle.customer" class="form-control">
                        <ng-option ng-repeat="customer in customers.object | orderBy : '-id'" ng-change="saveCustomerId(customer.id)" >{{customer.first_name}} {{customer.last_name}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div >

            </div>

            <div>
                <div class="form-group">
                    <label>Vehicle Year</label>
                    <select  ng-model="vehicle.year" class="form-control">
                        <option ng-repeat="year in years" ng-click="getMakesList(year)" >{{year}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Vehicle Make</label>
                    <select  ng-model="vehicle.make" class="form-control">
                        <option ng-repeat="make in makes.object" ng-click="getModelsList(make)" >{{make.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Vehicle model</label>
                    <select  ng-model="vehicle.model" class="form-control">
                        <option ng-repeat="model in models " ng-click="getEngine(model.name)">{{model.name}}</option>
                    </select>
                </div>

            </div>

                <div>
                    <div class="form-group">
                        <label>Engine</label>
                        <select  ng-model="vehicle.engine" class="form-control">
                            <option ng-repeat="engine in engines.object">{{engine.engine.size}}</option>
                        </select>
                    </div>


                <div class="form-group">
                    <label>Transmission</label>
                    <select  ng-model="vehicle.transmission" class="form-control">
                        <option>Automatic</option>
                        <option>Manual</option>
                    </select>
                </div>
                </div>

            <div>

                    <div class="form-group">
                        <label>Vehicle Identification Number</label>
                        <input type="text" ng-model="vehicle.vin" class="form-control">
                    </div>
            </div>



            <section class="text-center">
                <button ng-click="postVehicle(vehicle)" class="btn btn-success">SUBMIT</button>
            </section>
        </form>
</div>
</div>
