


<div ng-controller="SidenavController" ng-cloak>
<div class="">

        <nav class="md-accent navbar">
            <div class="md-toolbar-tools text-center " >
                <button href="/" aria-label="home" class="md-button white">
                    Home
                </button>
                <button href="/addcustomer" aria-label="customer" class="md-button white">
                    Add a New Customer
                </button>
                <button href="/addvehicle"  aria-label="vehicle" class="md-button white">
                    Add a New Vehicle
                </button>
                <button href="/addrepair" aria-label="repair" class="md-button white">
                    Add a New Repair
                </button>
                <button href="/addparts" aria-label="parts" class="md-button white">
                    Add Parts to Repair
                </button>

            </div>
        </nav>

    </div>
</div>