<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Melancholy Motors</title>
    <script src="assets/vendors/angular/angular.min.js"></script>
    <script src="assets/vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/vendors/angular-animate/angular-animate.min.js"></script>
    <script src="assets/vendors/angular-aria/angular-aria.min.js"></script>
    <script src="assets/vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap-theme.min.css" />-->
    <link rel="stylesheet" href="/assets/vendors/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="assets/styles/style.css">
    <base href="/">
</head>
<body ng-controller="LoginController" class="login-body" >
<!--<div class="login-title">-->
<div  class="container text-center" >
<h1 class="login-title" >{{title}}</h1>

<h3>{{login}}</h3>
<!--<p>{{test}}</p>-->
</div>
<div class="login-mdcontent container text-center"  >
        <div class="login-div">
            <!-- Set form action and method -->

            <form name="userLogin" class="inner-form form-group">
                <div >
                    <label>User Name</label>
                    <input class="form-control"ng-model="User.username" required >
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" ng-model="User.password" type="password" required>
                </div>
                <div>
                    <button ng-click="loginFunction(User)" class="btn ">LOG IN</button>
                    <button class="btn white " ng-click="goRegister()" >Register new User</button>
                </div>
            </form>
        </div>

</div>
<!--</div>-->


</body>
</html>